.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background-color: ivory;
}

.CanvasArea {
  height: 90%;
  width: 90%;
  background-color: black;
  position: relative;
}

.react-flow__node-default {
  background: lightblue;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
}

.controls {
  z-index: 10;
  background-color: #fceaff;
  padding: 10px;
  margin-bottom: 5px;
  color: black;
  transition: all 0.3s ease, transform 0.3s ease;
}

.controls:hover {
  background-color: #a78fc3;
  outline: none;
  transform: scale(1.05);
}

.controls:active {
  transform: scale(0.95);
}

.controls.on {
  background-color: #7b49cc;
}

.controls:focus {
  outline: none;
}

.buttondiv {
  position: absolute;
  top: 2%;
  right: 2%;
  padding: 1%;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}