.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.react-flow__node-default {
  background: lightblue;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
}

.controls {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  background: white;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.controls button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.controls button:hover {
  background-color: #0056b3;
}

.buttondiv {
  position: absolute;
  top: 2%;
  right: 2%;
  padding: 1%;
  border: none;
  border-radius: 5px;
}